<!DOCTYPE html>
<html>
<head>
	<title>First Web Deployment</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<nav class="nav">
		<ul class="nav-links">
			<li class="link-list"><a href="index.html">Home</a></li>
			<li class="link-list"><a href="about.html">About Us</a></li>
			<li class="link-list"><a href="contact.html">Contact Us</a></li>
		</ul>
	</nav>
	<div class="main">
		<h1 class="main-heading">Welcome to our first deployment.</h1>
		<p class="main-para">We spent about 45 minutes on this simple project.</p>
	</div>
</body>
</html>